.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.notes{
  display:flex;
  flex-direction: column;
  text-decoration: none;
}
nav{
  float: right;
  padding: 15px;
  text-decoration: none;
}